:root {
  --primary-blue: #2d9cdb;
  --dark-gray: #333;
  --gray: #828282;
  --light-gray: #F2F2F2;
  --red: #EB5757;
  --green: #27AE60;
}

body {
  padding: 1em;
}

body, button {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-gray);
}

body img {
  border-radius: 18px;
}

h1, h2  {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-weight: 400;
}

header {
 padding: 2em;
 display: flex;
 justify-content: space-between;
}

header a {
  text-decoration: none;
  color: var(--dark-gray);
}

.navlinks {
  display: none;
}

.blue {
  color: var(--primary-blue);
}

.red {
  color: var(--red);
}

.gray {
  color: var(--gray);
}

.light-gray {
  color: var(--light-gray);
}

.bg-blue {
  background-color: var(--primary-blue);
}

.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bt-primary {
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.7em 1.5em;
}

.bt-secondary {
  border: none;
  border-radius: 12px;
  padding: 0.5em 1em;
}

.bt-secondary:hover {
  background-color: var(--primary-blue);
  color: white;
}

#home img, #works img {
  width: 100%;
  padding: 0;
}

#home p:first-child, #clients p:first-child {
  margin-bottom: -1.5em;
}

.services-card {
  padding: 2em;
  margin: 1em;
  border-radius: 24px;
}

.services-card:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.card-icon {
  width: 30px;
  height: 30px;
  padding: 1em;
}

.contact-form {

}
.contact-form input {
  border: none;
  padding: 0.9em;
  width: 50%;
}

.contact-form label {
  font-size: 0.8em;
}

#services, #works, #clients {
  padding-top: 4em;
}

#works p {
  color: var(--gray);
  margin-bottom: -1em;
}

.work-box {
  margin-bottom: 1.5em;
}

.flex {
  display: flex;
  align-items: center;
}

#works a {
  text-decoration: none;
}

#clients img {
  width: 50%;
  margin: 1em;
}

@media only screen and (min-width: 940px) {
  .navlinks {
    display: inline-block;
  }

  .navlinks a {
    margin: 0 2em;
  }

  .navlinks a:hover {
    font-weight: bold;
  }

  #menu {
    display: none;
  }

  .services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .works-box, #clients {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .work-box {
    margin: 1.5em 1em;
    padding-bottom: 0.5em;
  }

}
