:root {
  --primary-blue: #2d9cdb;
  --gray: #333;
  --light-gray: #828282;
  --red: #EB5757;
  --green: #27AE60;
}

body {
  padding: 1em;
}

body, button {
  font-family: 'Poppins', sans-serif;
  color: var(--gray);
}

body img {
  border-radius: 18px;
}

h1, h2  {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

p {
  font-weight: 400;
}

header {
 padding: 2em;
 display: flex;
 justify-content: space-between;
}

header a {
  text-decoration: none;
  color: var(--gray);
}

.navlinks {
  display: none;
}

.blue {
  color: var(--primary-blue);
}

.light-gray {
  color: var(--light-gray);
}

.bg-blue {
  background-color: var(--primary-blue);
}

.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.secondary {
  border: none;
  border-radius: 12px;
  padding: 0.5em 1em;
}

.secondary:hover {
  background-color: var(--primary-blue);
  color: white;
}

#home img {
  width: 100%;
  padding: 0;
}

#home p:first-child {
  margin-bottom: -1.5em;
}

.services-card {
  padding: 2em;
}

.services-card:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.card-icon1 {
  width: 30px;
  height: 30px;
  padding: 1em;
}

@media only screen and (min-width: 940px) {
  .navlinks {
    display: inline-block;
  }

  .navlinks a {
    margin: 0 2em;
  }

  .navlinks a:hover {
    font-weight: bold;
  }

  #menu {
    display: none;
  }
}
