:root {
  --primary-color: #4E5150;
  --gray: #333;
  --light-gray: #828282;
}

body {
  font-family: 'Poppins', sans-serif;
}

body img {
  border-radius: 18px;
}

h1, h2  {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

p {
  font-weight: 400;
}

.s-1 img {
  width: 100%;
}
